body{
    width: 1160px;
    margin: 0px 40px 0px 40px;
    display: flex;
    justify-content: center;
}

html{
    background-color: #e3e3e3;
}

@font-face{
    font-family: Raleway;
    src: url(/Assets/Fonts/Raleway-VariableFont_wght_1.woff);
}

/* En tête */

header{
    display: block;
    background-color: #17abb3;
    padding-top: 15px;
    color: #ffffff; 
    margin: 0px;
    justify-content: center;
    text-align: center;
    width: 1160px;
    font-family: Lato;
}

h1{
    font-family: Lato;
    font-size: 48px;
    margin-bottom: 0px;
}

h2{
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: Lato;
}

header img{
    cursor: zoom-in;
    float: left;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 3px #ffffff;
    margin-top: 30px;
    margin-left:90px
}

.header-1{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-self:center;
}

.header-1 img{
    width: 17px;
    height: auto;
    vertical-align: middle;
    padding-right: 5px;
    filter: invert(100%);
}

.header-1 a{
    color: #ffffff;
    text-decoration: none;
}

.header-1 p{
    margin-bottom: 0px;
    width: 110px;
    text-align: left;
    margin-right: 30px;
}

.header-2{
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-self:center;
    padding-top: 0px;
}

.header-2 img{
    width: 17px;
    height: auto;
    vertical-align: middle;
    padding-right: 5px;
    filter: invert(100%);
}

.header-2 a{
    color: #ffffff;
    text-decoration: none;
}

.header-2 p{
    margin-top: 15px;
    width: 110px;
    text-align: left;
    margin-bottom: 30px;
    margin-right: 30px;
}

header i{
    color: white;
    margin-right: 4px;
    font-size: 14px;
}

/* Partie gauche du CV */

.section-left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 800px;
    float: left;
    background-color: #f5f5f5;
    padding-top: 20px;
    font-family: Raleway;
    font-weight: 500;
}

h3{
    color: #17abb3;
    display: flex;
    margin-left: 33px;
    margin-bottom: 2px;
    font-family: Lato;
}

h4{
    font-family: Lato;
}

.section-left hr{
    width: 79%;
    margin-bottom: 0px;
}

.section-left li{
    margin-bottom: 8px;
}
.competences-list{
    float: left;
    list-style-type: none;
    font-weight: 700;
    font-family: Raleway;
}

.competences-list-2{
    list-style-type: none;
    text-align: end;
    padding-right: 36px;
}

i{
    color: #17abb3;
}

.langues-list-1{
    float: left;
    list-style-type: none;
    font-weight: 700;
}

.langues-list-2{
    float: right;
    list-style-type: none;
    text-align: end;
    padding-right: 36px;
}

.quality li{
    list-style: none;
    margin-bottom: 4px;
}

.quality li::before {
    color: #17abb3;
    content: "■";
    padding-right: 10px;
}

.interest li{
    list-style-type: none;
    margin-bottom: 4px;
}

.interest li::before{
    color: #17abb3;
    content: "■";
    padding-right: 10px;
}


/* Partie droite du CV */

.section-right{
    padding-top: 20px;
    background-color: #ffffff;
    width: 70%;
    float: right;
    height: 800px
}

.section-right hr{
    width: 90%;
}

.section-right h3{
    margin-left: 40px;
}

.exp{
    margin-left: 40px;
    margin-right: 40px;
}

.section-right time{
    float: right;
    color: #17abb3;
    font-weight: 500;
    font-family: Raleway;
}

.section-right p{
    font-family: Raleway;
    font-weight: 500;
}

.exp p{
    margin-top: 0;
    font-size: 12px;
    font-style: italic;
    font-family: Raleway;
    font-weight: 600;
}

.exp h4{
    margin-bottom: 0px;
}

.exp:hover{
    background-color: #e3e3e3;
    border-left: solid 5px #17abb3;
    padding-left: 10px;
    padding-right: 10px;
}

.presentation{
    width: 90%;
    margin-left: 40px;
    text-indent: 2em;
    text-align: justify;
}

/* Pied de page */

footer{
    background-color: #17abb3;
    text-align: center;
    color: #ffffff;
}

footer p{
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    font-family: Lato;
}

footer i{
    color: white;
    display: flex;
    font-size: 36px;
    margin-top: 20px;
}

footer i:hover{
    filter: opacity(80%);
}

